/* Login Form */
.left-box {
  padding: 10rem 1rem;
}
.left-box h1 {
  font-weight: bolder;
  font-size: 45px;
}
.left-box p {
  font-size: 20px;
}
.form-box input {
  border: none;
  background-color: #f0edff;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px auto;
  width: 250px;
}
.login-btn {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 20px auto;
  height: 50px;
  width: 130px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to right, #9181f4 0%, #5038ed 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.right-box {
  background: linear-gradient(224deg, #9181f4 0%, #5038ed 100%);
  padding: 12rem 0rem;
}
.right-box .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-box {
  background: linear-gradient(224deg, #9181f4 0%, #5038ed 100%);
  padding: 12rem 0rem;
}
.right-box .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
