/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  padding: 0px !important;
}
section {
  margin-bottom: 0px !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
.primary {
  color: #9181f4;
}
.nav-link {
  color: white !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
}
#userData {
  color: white;
  font-size: 25px;
  margin: 0px 10px;
}
.nav-logo {
  margin: 0px 15px;
}
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form button {
  margin-bottom: 10px;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.category {
  margin-bottom: 20px;
}

.category h3 {
  margin-bottom: 10px;
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category ul li {
  display: inline-block;
  margin-right: 10px;
}

.product-details img {
  width: 200px;
  height: 200px;
}

.d-block {
  object-fit: cover;
}
.review-carousel {
  margin: 1rem 0rem;
  padding: 1rem;
}
.review-head {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 15px 0px;
  padding: 1rem;
}
.review {
  text-align: center;
  margin: 20px 0px;
}
.review h3 {
  font-size: 19px;
  font-weight: bold;
}
.review p {
  font-size: 15px;
}
.carousel-item1 {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.new-icon {
  background-color: black;
  padding: 15px;
  border-radius: 5px;
}
.card-text {
  margin-bottom: 10px !important;
}

.search-group {
  width: 250px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 12px 50px rgba(128, 128, 128, 0.7);
  border-radius: 5%;
}
.search-bar {
  padding: 10px;
  border: none;
}
ion-icon {
  padding: 10px;
  font-size: 25px !important;
}

.profile-card {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.5);
}

.profile-img {
  height: 200px;
  width: 200px;
  margin: auto;
  padding: 1rem;
}

.cart-page {
  font-size: 30px;
  margin: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#cart-items {
  margin-top: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.cart-item img {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.cart-item .price {
  margin: 0px 10px;
}
.cart-item h3 {
  flex: 1;
  font-size: 20px;
}

.cart-item .quantity {
  margin: 0px 20px;
}

.cart-item button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
}
.pay-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-btn {
  z-index: 1000;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  position: fixed;
  text-align: center;
  bottom: 75px;
  border: none;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
}

#cart-items {
  margin-top: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.cart-item img {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.cart-item h3 {
  flex: 1;
  font-size: 20px;
}

.cart-item .quantity {
  margin: 0px 20px;
}

.cart-item button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
}
.pay-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-btn {
  z-index: 1000;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  position: fixed;
  text-align: center;
  bottom: 75px;
  border: none;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
}

@media only screen and (max-width: 420px) {
  .profile-card {
    width: 350px;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .cart-item h3 {
    flex: 1;
    font-size: 12px;
  }
  .cart-item button {
    padding: 5px 5px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .cart-item img {
    width: 90px;
    height: 90px;
  }
}
