/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  padding: 0px !important;
}
section {
  margin-bottom: 0px !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
.primary {
  color: #9181f4;
}